version: "3.8"

services:
  db:
    image: postgres:15
    container_name: canMaroc_db
    restart: always
    env_file:
      - .env
    environment:

      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: canMaroc_api
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:

      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}

      DB_HOST: db
      PORT: ${PORT}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "5000:5000"
    volumes:
      - .:/app

volumes:
  db_data:
